.post-preview {
  z-index: 1000;
}
.post-title {
  color: #000;
  font-size: 18px;
  margin-top: 0;
}
.post-meta {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.content {
  padding-top: 0;
}
